html{
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
}

body{
    display: grid;
    justify-content: center;
    background-color: rgb(249, 233, 194);
    margin: 0;
    background-image: url(../assets/leaf-green.svg);
    background-position: center;
    background-position-x: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:50em;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/pottenfoto.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 5em;
    height: 5em;
}

.paginas{
    display: flex;
    list-style: none;
    gap: 2em;
    font-size: 1em;
}

h1{
    font-family: "Poppins", sans-serif;
    font-size: 8em;
    max-width: 290px;
}

main{
    display: grid;
    gap: 2em;
    justify-content: center;
}

section{
    display: flex;
    justify-content: space-between;
    color: rgb(249, 233, 194);
    background-color: rgb(60, 89, 62);
    border-radius: 2em;
    align-items: center;
    width: 90vw;
    margin-top: 3em;
}

.beige{
    background-color: rgb(219, 202, 159);
    color: rgb(60, 89, 62);
    transition-duration: 0.7s;
    background-image: url(../assets/leaf-green.svg);
    background-position: center;
    background-size: cover;
}

.beige:hover{
    background-color: rgb(60, 89, 62);
    color: rgb(219, 202, 159);
    scale: 1.1;
}

.oranje{
    background-color: rgb(255, 154, 65);
    color: rgb(73, 27, 2);
    transition-duration: 0.7s;
    background-image: url(../assets/leaf-orange.svg);
    background-position: center;
    background-size: cover;
}

.oranje:hover{
    background-color: rgb(73, 27, 2);
    color: rgb(255, 154, 65);
    scale: 1.1;
}

.groen{
    background-color: rgb(60, 89, 62);
    color: rgb(219, 202, 159);
    transition-duration: 0.7s;
    margin-bottom: 3em;
    background-image: url(../assets/leaf-green.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.groen:hover{
    scale: 1.1;
    background-color: rgb(219, 202, 159);
    color: rgb(60, 89, 62);
}

details{
    margin-left: 1em;
}

summary{
    font-size: 2em;
    cursor: pointer;
    font-weight: 700;
}

.biebfoto{
    width: 9em;
    height: 13em;
    border-radius: 1em;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    /* border: 5px solid rgb(60, 89, 62);  */
    /* margin-bottom: -6px; */
}

footer{
    display: grid;
    justify-content: space-evenly;
    background-color: rgb(219, 202, 159);
    /* border-radius: 3em 3em 0 0; */
    width: 100vw;
    color: rgb(60, 89, 62);
}

.footertekst{
    list-style: none;
    max-width: 250px;
}

.footertitle{
    font-size: larger;
    font-weight: bold;
}

@media (min-width: 750px) {
    section {
      width: 750px;
    }

    h1{
        font-size: 10em;
        max-width: 750px;
    }

    footer {
        display: flex;
        gap: 6em;
      }
}